html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.title {
  font-family: "Alex Brush", cursive;
  font-size: 2.8em !important;
}

.nav-style {
  height: 90px;
}

.nav {
  justify-content: right;
}

.body {
  padding-top: 90px;
}
